@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

html{
	height: 100%;
	display: table;
	position: absolute;
}
body {
	font-family: 'Montserrat', sans-serif;
  width: 100%;
	background-color: #202225;
	color: #b3b3b3;
	max-width: 1200px;
	margin: auto;
	vertical-align: middle;
	display: table-cell;
}
h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #ffffff;
	padding: 25px 25px 0px 25px;
}
.signature{
	margin: 0 auto;
	text-align: right;
}
p{
	padding: 0px 25px 0px 25px;
}
img{
	width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
